* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-size: 16px;
  font-family: "poppins", sans-serif;
}
main {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  gap: 50px;
}
.intro {
  width: 40%;
}
.right {
  width: 40%;
  display: grid;
  gap: 10px;
}
button {
  background-color: hsl(248, 32%, 49%);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.21);
}
.register {
  background-color: #ffffff;
  width: 80%;
  padding: 10%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  place-items: center;
  box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 5px 9px 0px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.21);
}
.register input:invalid:focus {
	border: solid 3px red;
  background-image: url(icon-error.svg);
  background-repeat: no-repeat;
  background-position: 230px;
}
.register input {
  width: 80%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px 10%;
  border-radius: 5px;
}
.register input:hover {
  border: 2px black;
}
a:link {
  color: rgb(255, 0, 0);
  background-color: transparent;
}

@media only screen and (max-width: 375px) {
  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
  }
  body {
    background-image: url(bg-intro-mobile.png);
  .intro,
  .right {
    width: 100%;
  }
}
